SetEnv GHOST_NODE_VERSION_CHECK false
PassengerStartupFile index.js
PassengerResolveSymlinksInDocumentRoot on
Require all granted
PassengerAppType node
PassengerAppRoot /home/a0861470/domains/bbb-soft.uz/public_html/
Options -MultiViews 